@tailwind base;
@tailwind components;
@tailwind utilities;

:root { color-scheme: light; }

.btn {
  @apply inline-flex items-center gap-2 px-5 py-2 text-sm font-medium transition-shadow rounded-full shadow-soft hover:shadow-lg;
}
.btn-primary { @apply text-white bg-brand-gold; }
.btn-dark { @apply text-white bg-brand-dark; }
.btn-ghost { @apply bg-white border text-brand-dark border-black/10; }
.section { @apply w-full py-14 md:py-20; }
.container { @apply w-full px-4 mx-auto max-w-content; }
.card {
  @apply p-6 bg-white rounded-2xl shadow-soft md:p-8;
}


.scrollbar-hide {
  -ms-overflow-style: none;  /* for Internet Explorer and Edge */
  scrollbar-width: none;     /* for Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;             /* for Chrome, Safari, and Opera */
}
